div.flameFrame {
    border: solid;
    border-width: 1px;
    padding: 0.5em;
    margin: 0.2em;
    min-width: 300px;
    overflow-x: auto;
}

div.flameRoot {
    font-size: 11px;
    font-family: monospace;
    min-height: 10em;
}

div.flameBox {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 0;
    align-self: flex-end;
    overflow: hidden;
}

div.flameRow {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
    overflow: hidden;
}

div.execNode {
    border: solid;
    border-color: transparent;
    border-width: 2px;
    width: 100%;
    margin: 0;
    padding: 0px 0px 0px 3px;
    border-radius: 1px;
    background-color: antiquewhite;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.execNode:hover {
    border-color: #511;
    font-weight: bold;
}

div.twaitSmoke {
    border: none;
    border-width: 1px;
    width: 100%;
    margin: 0.5px;
    padding-top: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 3px;
    background-color: #86B;
}

div.twaitSmoke:hover {
    background-color: #b8F;
}

div.waitSmoke {
    border: none;
    border-width: 1px;
    width: 100%;
    margin: 0.5px;
    padding-top: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 3px;
    background-color: #694;
}

div.waitSmoke:hover {
    background-color: #bf8;
}

div.hotSmoke {
    border: none;
    border-width: 1px;
    width: 100%;
    margin: 0.5px;
    padding-top: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 3px;
    background-color: #d33;
}

div.hotSmoke:hover {
    background-color: #711;
}

div.blockSmoke {
    border: none;
    border-width: 1px;
    width: 100%;
    margin: 0.5px;
    padding-top: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 3px;
    background-color: #d33;
}

div.blockSmoke:hover {
    background-color: #711;
}

div.ioSmoke {
    border: none;
    border-width: 1px;
    width: 100%;
    margin: 0.5px;
    padding-top: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 3px;
    background-color: #d33;
}

div.ioSmoke:hover {
    background-color: #711;
}

div.termSmoke {
    border: none;
    border-width: 1px;
    width: 100%;
    margin: 0.7px;
    padding-top: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 3px;
    background-color: #111;
}

div.termSmoke:hover {
    background-color: #555;
}

div.flameHover {
    display: none;
    position: absolute;
	border:1px solid #333;
	background-color: antiquewhite;
	border-radius: 4px;
	padding: 4px;
	color: #000;
    font-size: 11px;
    font-family: monospace;
    white-space: nowrap;
    min-width: 20em;
    z-index: 10000;
}

div.flameHover > p.hoverFrame {
    margin: 0;
    font-weight: bold;
}

div.flameHover > p.hoverStats {
    margin: 0;
    padding-left: 1em;
}

div.flameThreadFilterBtn {
    padding: 0.2em;
}

div.flameThreadFilter {
    font-family: sans-serif;
    font-size: 9pt;
    border: 1px solid;
    margin: 0;
    padding: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    background-color:  beige;
    overflow-y: auto;
    max-height: 20em;
}

div.flameThreadFilter p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.flameThreadFilter div.threadList input {
}

div.flameThreadFilter div.threadList p {
}

div.flameThreadFilter div.search {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

div.flameThreadFilter div.search input {
    padding: 0px;
    flex-grow: 1;
}

div.flameThreadFilter div.search a {
    color: #44F;
    cursor: pointer;
    font-size: 10pt;
    margin: 0 0.2em 0 0.2em;
}

div.flameThreadFilter div.search a:hover {
    text-decoration: underline;
}

div.flameThreadFilter p.empty {
    color: #888;
    padding: 0.5em 2em 0 2em;
    font-style: italic;
}

div.flameThreadFilter a.flameThreadCloseBtn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 10pt;
    padding-left: 3px;
    padding-right: 3px;
    color: #888;
}

div.flameThreadFilter a.flameThreadCloseBtn:hover {
    background-color: #000;    
    color: #fff;
}


div.flameThreadFilterBtn a {
    color: #44F;
    cursor: pointer;
}

div.flameThreadFilterBtn a:hover {
    text-decoration: underline;
}